body {
    background-image: url(./static/images/bg1.png);
    text-align: center;
}
.bj{
    background-color:rgba(255,255,255,0.6);
}
#nav{
    background-color:rgb(255,193,7);
    height: 60px;
}

img {
    width: 30%;
}

a{
    font-size: 30px;
    color: black;
}

h1{
    color: white;
}
